@import "_nullstyle";
@import "_fonts";


body {
  font-family: 'Cera-100';
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

//======================== header ========================//


.header {
  background-color: #222;
  border-top: 20px solid #71bf44;
    	&__title {
      font-size: 40px;
      text-transform: uppercase;
      padding: 30px 0;
      opacity: 0.7;
    }
}

@media screen and (max-width: 768px) {

  .header {
    border-top: 10px solid #71bf44;

    &__title {
      padding: 20px 0;
      font-size: 30px;
    }
  }
}

//======================== content ========================//


.mainblock {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  &__content {
    
    z-index: 1;
  }

  &__nav {
  }

  &__navbody {
    display: inline-flex;
    .btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 25px;
      text-transform: uppercase;
      border-bottom: 1px solid #71bf44;
      width: 160px;
      height: 50px;
      margin: 0 25px;
      transition: 200ms;
    }
    
    .btn:hover {
      background-color: hsla(98, 49%, 51%, 0.3);
      border-radius: 50px;
      background: linear-gradient(hsla(98, 49%, 51%, 0), hsla(98, 49%, 51%, 0.2));
      width: 210px;
      margin: 0;
      font-weight: bold;
      color: #71bf44;
    }

    .btn:active {
      background: linear-gradient(hsla(98, 49%, 51%, 0.2), hsla(98, 49%, 51%, 0), hsla(98, 49%, 51%, 0.2));
      border: 2px solid #71bf44;
      font-size: 28px;
    }

    
  }

  @media screen and (max-width: 1070px) {
    &__navbody {
      flex-direction: column;
      
    }

    .btn {
      margin: 20px 0;
      background-color: hsla(98, 49%, 51%, 0.3);
      border-radius: 50px;
      background: linear-gradient(hsla(98, 49%, 51%, 0), hsla(98, 49%, 51%, 0.2));
      width: 250px;
    }

    .btn:hover {
      margin: 20px 0;
      width: 290px;
    }
  }

  
  @media screen and (max-width: 768px) {
    .btn {
      margin: 10px 0;
      width: 210px;
     
    }
    .btn:hover {
      margin: 10px 0;
      width: 250px;
     
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #27383d;
    background-image: url(../img/fon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}




//======================== footer ========================//


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-bottom: 20px solid #71bf44;
  height: 100px;
  
  
		&__name {
      padding: 0 0 10px 0;
      font-size: 20px;
      opacity: 0.8;
		}

		&__contact {
      .icon {
        display: inline-flex;
        font-size: 25px;
        padding: 0 20px;
        color: #fff;
        opacity: 0.3;
        transition: 300ms;
      }

      a, .icon:hover {
        opacity: 1;
        color: #71bf44;
        transform: scale(1.3);
      }

      a, .icon:active {
        transform: scale(1);
      }
    }
}

@media (max-width: 768px) {
  .footer {
    height: 70px;
    border-bottom: 10px solid #71bf44;

    &__contact {
      
      .icon {
        font-size: 20px;
      }

      a, .icon:hover {
         transform: scale(1.2);
      }
    }
    &__name {
      padding: 0 0 5px 0;
      font-size: 16px;
    }
  }
}


