@import "_nullstyle";
@import "_fonts";


body {
  font-family: 'Cera-100';
  color: #fff;
  font-size: 16px;
  background: #71bf44;
  text-align: center;
  

  
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

//======================== header ========================//


.header {
  background-color: #222;
  margin-top: 25px;
  border-bottom: 1px solid #71bf44;
		&__title {
      font-size: 40px;
      text-transform: uppercase;
      padding: 30px 0px;
      opacity: 0.7;
    }
}

//======================== content ========================//


.nav {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  background-image: url(../img/fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

    &__body {

      .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        border-bottom: 1px solid #71bf44;
        width: 120px;
        height: 40px;
        margin: 0px 20px;
        transition: 300ms;
        
      }
      
      .btn:hover {
        background-color: hsla(98, 49%, 51%, 0.3);
        border-radius: 50px;
        background: linear-gradient(hsla(98, 49%, 51%, 0), hsla(98, 49%, 51%, 0.2));
        width: 160px;
        margin: 0px;
        color: #71bf44;
        font-weight: bold;
      }
    }
}



//======================== footer ========================//


.footer {
  
  display: flex;
  align-items: center;
  background-color: #000;
  margin-bottom: 20px;
  height: 100px;
  border-top: 1px solid #71bf44;

		&__name {
      padding-bottom: 15px;
      font-size: 20px;
      opacity: 0.8;
		}

		&__contact {

      .icon {
        display: inline-flex;
        font-size: 25px;
        padding: 0px 20px;
        color: #fff;
        opacity: 0.3;
        transition: 500ms;
      }

      a, .icon:hover {
        opacity: 1;
        color: #71bf44;
        transform: scale(1.5);
      }
    }
}

